<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>HvA</title>
<link rel="stylesheet" href="/static/styles/style.css">
<link rel="icon" href="static/img/hvaLogo.png" type="image/png" sizes="16x16">