* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-font: 'arial';
    --black: black;
    --primary: #25167A;
}

html {
    background: url('../img/background-image.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

::selection {
    background-color: var(--primary);
    color: white;
}

header a img {
    float: right;
    margin: 1rem;
}

main {
    background-color: white;
    padding: 2rem;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

input::placeholder{
    color: transparent;
}

input[type="submit"] {
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 10px 30px;
}

input, label {
    display: block;
}

label {
    font-weight: bold;
}

.hint {
    font-size: 14px;
}

legend {
    display: none;
}

fieldset {
    border: none;
    margin-bottom: 1rem;
}

h1, p {
    margin-bottom: 1rem;
}

p {
    max-width: 45rem;
}

form input[type="text"]:not(:focus):not(:placeholder-shown):invalid {
	border: 3px solid red;
}

form input[type="text"]:not(:focus):not(:placeholder-shown):valid {
	border: 3px solid green;
}

form:invalid input[type="submit"]#submit {
    cursor: not-allowed;
    background-color: #918ABC;
}

form:valid input[type="submit"]#submit {
    cursor: pointer;
    background-color: var(--primary);
}