* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-font: 'arial';
    --black: black;
    --primary: #2C2A75;
}

html {
    background: url('../img/background-image.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: white;
    margin: auto;
    width: 80%;
}

form {
    width: 90%;
    height: 50%;
}

fieldset {
    border: none;
}

legend {
    display: none;
}

