<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./components/head') %>
    <title>HvA | Account</title>
</head>
<body>
    <form action="/send-account" method="POST">
        <fieldset>
            <legend>What is your name?</legend>
            <label for="studentName">Name</label>
            <input type="text" id="studentName" name="studentName" title="studentName" required>
        </fieldset>
        <fieldset>
            <legend>What is your student number?</legend>
            <label for="studentNumber">Number</label>
            <input type="text" id="studentNumber" name="studentNumber" title="studentName" required>
        </fieldset>
        <input type="submit">
    </form>
</body>
</html>