<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./components/head') %>
    <title>HvA | Account</title>
</head>
<body>
    <form id="student" action="/send-account/<%- uuid %>">
        <fieldset>
            <legend>What is your name?</legend>
            <label for="studentName">Name</label>
            <input type="text" id="studentName" name="studentName" title="studentName" required>
        </fieldset>
        <fieldset>
            <legend>What is your student number?</legend>
            <label for="studentNumber">Number</label>
            <input type="number" id="studentNumber" name="studentNumber" title="studentName" min="500000000" max="600000000" required>
        </fieldset>
        <input type="submit" form="student">
    </form>
</body>
</html>