<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./components/head') %>
    <title>HvA | CCSTTR</title>
</head>
<body>
    <form id="cssttr" action="/send-CSSTTR/<%- uuid %>" >
        <fieldset>
            <legend>From which teachers did you get <b>CSS to the rescue</b>?</legend>
            <input type="checkbox" name="teacher" id="koop">
            <label for="koop">Koop</label>
            <input type="checkbox" name="teacher" id="koch">
            <label for="koch">Koch</label>
            <input type="checkbox" name="teacher" id="duncan">
            <label for="duncan">Duncan</label>
            <input type="checkbox" name="teacher" id="robin">
            <label for="robin">Robin</label>
        </fieldset>
        <fieldset>
            <legend>In what period did you follow this course</legend>
            <label for="startDate">Start date</label>
            <input type="date" name="startDate" id="startDate" required>
            <label for="endDate">End date</label>
            <input type="date" name="endDate" id="endDate" required>
        </fieldset>
        <fieldset>
            <legend>Rate the course on a scale from 1 to 10</legend>
            <label for="lessonMarterial">Lesson material (how hard was it?)</label>
            <input type="number" id="lessonMaterial" name="lessonMaterial" min="1" max="10" required>
            <label for="explanation">Explanation (how clearly is it explained?)</label>
            <input type="number" id="explanation" name="explanation" min="1" max="10" required>
            <label for="ownInsight">Own insight (How well do you get it?)</label>
            <input type="number" id="ownInsight" name="ownInsight" min="1" max="10" required>
        </fieldset>

        <input type="submit" form="cssttr">
    </form>
</body>

</html>