<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./components/head') %>
    <title>Enquete</title>
</head>
<body>
    <form action="">
        <fieldset>
            <label for="">Name</label>
            <input type="text">
            <label for="">Number</label>
            <input type="text">
        </fieldset>
        <fieldset>
            <input type="checkbox" name="teacher">
            <label for="">Koop</label>
            <input type="checkbox" name="teacher">
            <label for="">Koch</label>
            <input type="checkbox" name="teacher">
            <label for="">Duncan</label>
            <input type="checkbox" name="teacher">
            <label for="">Robin</label>
        </fieldset>
        <fieldset>
            <label for="">Weeks you took this course</label>
            <input type="date">
            <input type="date">

            
        </fieldset>
        

weken waarin je het vak deed
beoordeling op schaal 1-10 van
lesstof (hoe moeilijk is het)
uitleg (hoe duidelijk is het uitgelegd)
eigen inzicht (hoe goed snap je het)
Validatie: alles moet zijn ingevuld voordat je verder mag met het formulier. Geef duidelijke foutmeldingen.

Als ik de enquete niet afkrijg, wil ik later weer verder gaan met waar ik ben gebleven.
    </form>
</body>
</html>