<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head') %>
        <title>HvA | STUDENTNAME</title>
</head>

<body>
    <header>
        <a href="hva.nl"><img src="img/hva-logo.png" alt="" width="15%" class="hva-logo"></a>
    </header>
    <main>
        <h1>Welcome!</h1>
        <a href="/WAFS/<%- uuid %>/">WAFS</a>
    </main>
</body>
</html>