<!DOCTYPE html>
<html lang="en">

<head>
    <title>HvA | Overview</title>
    <%- include('./components/head') %>
</head>

<body>
    <header>
        <a href="https://www.hva.nl"><img src="img/hva-logo.png" alt="" width="15%" class="hva-logo"></a>
    </header>
    <main>
        <h1>School subjects</h1>
        <p>Please fill in all surveys to help us improve our courses. If you didn't follow a course, please visit the
            survey and choose "skip survey". You can send all surveys if you filled in every course.</p>
        <h2>Available surveys</h2>
        <ul>
            <li><a href="/wafs">Web Apps from Scratch</a></li>
        </ul>
        <h2 class="filled">Filled in surveys</h2>
        <ul>
            <li><a href="/wafs">CSS to the Rescue</a></li>
            <li><a href="/wafs">Progressive Web Apps</a></li>
            <li><a href="/wafs">Browser Technologies</a></li>
            <li><a href="/wafs">Human Centred Design</a></li>
            <li><a href="/wafs">Real-time Web</a></li>
        </ul>
    </main>
</body>

</html>