<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head') %>
        <title>HvA | PWA</title>
</head>

<body>
    <main>
        <form id="pwa" action="/send-PWA/<%- uuid %>">
            <fieldset>
                <legend>From which teachers did you get <b>Progressive Web Apps</b>?</legend>
                <input list="teacher" type="text" id="teachers" autocomplete="off" required>
                <datalist id="teacher">
                    <option value="Declan Rekt">R2D2</option>
                    <option value="Robin">R2D2</option>
                    <option value="Joost Faber">Squid</option>
                    <option value="Wouter">Squid</option>
                </datalist>
            </fieldset>
            <fieldset class="course">
                <legend>In what period did you follow this course?</legend>
                <label for="startDate">Start date</label>
                <input type="date" name="startDate" id="startDate"
                    title="The first day the student has taken the courses" required>
                <label for="endDate">End date</label>
                <input type="date" name="endDate" id="endDate" title="The last day the student has taken the courses"
                    required>
            </fieldset>
            <fieldset class="course">
                <legend>Rate the course on a scale from 1 to 10</legend>
                <label for="lessonMarterial" class="rating">Lesson material (how hard was it?)</label>
                <input type="number" id="lessonMaterial" name="lessonMaterial" placeholder="1-10" min="1" max="10"
                    title="How hard was the lesson material?" required>
                <br>
                <label for="explanation">Explanation (how clearly is it explained?)</label>
                <input type="number" id="explanation" name="explanation" placeholder="1-10" min="1" max="10"
                    title="How clearly was the teacher material explained?" required>
                <br>
                <label for="ownInsight">Own insight (How well do you get it?)</label>
                <input type="number" id="ownInsight" name="ownInsight" placeholder="1-10" min="1" max="10"
                    title="How well did you get the teaching material?" required>

            </fieldset>

            <input type="submit" form="pwa">
        </form>
    </main>
</body>

</html>