<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./components/head') %>
    <title>HvA | SUCCES!</title>
</head>
<body>
    <p id="succes"><a href="hva.nl">
        Thanks for filling in the enquete! <br>
        return to HvA
    </a></p>
</body>
</html>