<!DOCTYPE html>
<html lang="en">

<head>
    <title>HvA | WAFS</title>
    <%- include('./components/head') %>
</head>

<body>
    <header>
        <a href="https://www.hva.nl"><img src="img/hva-logo.png" alt="" width="15%" class="hva-logo"></a>
    </header>
    <main>
        <h1>Web Apps from Scratch</h1>
        <form id="wafs" action="#">
            <fieldset class="checkbox-area">
                <legend>From which teachers did you get <b>Web App from Scratch</b>?</legend>

                <label for="joost">Joost Faber
                    <input type="radio" id="joost" name="teacher" value="Joost Faber" required>
                </label>
                <label for="wouter">Wouter van der Heijde
                    <input type="radio" id="wouter" name="teacher" value="Wouter">
                </label>
                <label for="suus">Suus
                    <input type="radio" id="suus" name="teacher" value="Suus">
                </label>
                <label for="robin">Robin Fugte
                    <input type="radio" id="robin" name="teacher" value="Robin Fugte">
                </label>
            </fieldset>

            <fieldset class="course">
                <legend>In what period did you follow this course?</legend>
                <label for="startDate">Start date
                    <input type="date" name="startDate" id="startDate" title="Date of the first lesson taken" required>
                </label>
                <label for="endDate">End date
                    <input type="date" name="endDate" id="endDate" title="Date of the last lesson taken" required>
                </label>
                <span class="no-js hint">Period must be between 1-2-2021 and 6-6-2021</span>
            </fieldset>

            <h2>Rate the course on a scale from 1 to 10</h2>
            <fieldset>
                <legend for="lessonMarterial" class="rating">Lesson material (how hard was it?)</legend>
                <label for="lessonMarterial-1">1
                    <input type="radio" name="lessonMarterialRating" id="lessonMarterial-1" required>
                </label>
                <label for="lessonMarterial-2">2
                    <input type="radio" name="lessonMarterialRating" id="lessonMarterial-2">
                </label>
                <label for="lessonMarterial-3">3
                    <input type="radio" name="lessonMarterialRating" id="lessonMarterial-3">
                </label>
                <label for="lessonMarterial-4">4
                    <input type="radio" name="lessonMarterialRating" id="lessonMarterial-4">
                </label>
                <label for="lessonMarterial-5">5
                    <input type="radio" name="lessonMarterialRating" id="lessonMarterial-5">
                </label>
                <label for="lessonMarterial-6">6
                    <input type="radio" name="lessonMarterialRating" id="lessonMarterial-6">
                </label>
                <label for="lessonMarterial-7">7
                    <input type="radio" name="lessonMarterialRating" id="lessonMarterial-7">
                </label>
                <label for="lessonMarterial-8">8
                    <input type="radio" name="lessonMarterialRating" id="lessonMarterial-8">
                </label>
                <label for="lessonMarterial-9">9
                    <input type="radio" name="lessonMarterialRating" id="lessonMarterial-9">
                </label>
                <label for="lessonMarterial-10">10
                    <input type="radio" name="lessonMarterialRating" id="lessonMarterial-10">
                </label>
            </fieldset>
            <fieldset>
                <legend for="explanation">Explanation (how clearly is it explained?)</legend>
                <label for="explanation-1">1
                    <input type="radio" name="explanationRating" id="explanation-1" required>
                </label>
                <label for="explanation-2">2
                    <input type="radio" name="explanationRating" id="explanation-2">
                </label>
                <label for="explanation-3">3
                    <input type="radio" name="explanationRating" id="explanation-3">
                </label>
                <label for="explanation-4">4
                    <input type="radio" name="explanationRating" id="explanation-4">
                </label>
                <label for="explanation-5">5
                    <input type="radio" name="explanationRating" id="explanation-5">
                </label>
                <label for="explanation-6">6
                    <input type="radio" name="explanationRating" id="explanation-6">
                </label>
                <label for="explanation-7">7
                    <input type="radio" name="explanationRating" id="explanation-7">
                </label>
                <label for="explanation-8">8
                    <input type="radio" name="explanationRating" id="explanation-8">
                </label>
                <label for="explanation-9">9
                    <input type="radio" name="explanationRating" id="explanation-9">
                </label>
                <label for="explanation-10">10
                    <input type="radio" name="explanationRating" id="explanation-10">
                </label>
            </fieldset>
            <fieldset>

                <legend for="ownInsight">Own insight (How well do you get it?)</legend>
                <label for="ownInsight-1">1
                    <input type="radio" name="ownInsightRating" id="ownInsight-1" required>
                </label>
                <label for="ownInsight-2">2
                    <input type="radio" name="ownInsightRating" id="ownInsight-2">
                </label>
                <label for="ownInsight-3">3
                    <input type="radio" name="ownInsightRating" id="ownInsight-3">
                </label>
                <label for="ownInsight-4">4
                    <input type="radio" name="ownInsightRating" id="ownInsight-4">
                </label>
                <label for="ownInsight-5">5
                    <input type="radio" name="ownInsightRating" id="ownInsight-5">
                </label>
                <label for="ownInsight-6">6
                    <input type="radio" name="ownInsightRating" id="ownInsight-6">
                </label>
                <label for="ownInsight-7">7
                    <input type="radio" name="ownInsightRating" id="ownInsight-7">
                </label>
                <label for="ownInsight-8">8
                    <input type="radio" name="ownInsightRating" id="ownInsight-8">
                </label>
                <label for="ownInsight-9">9
                    <input type="radio" name="ownInsightRating" id="ownInsight-9">
                </label>
                <label for="ownInsight-10">10
                    <input type="radio" name="ownInsightRating" id="ownInsight-10">
                </label>

            </fieldset>

            <input type="submit" form="wafs" id="submit">
        </form>
    </main>
</body>

</html>