<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head') %>
        <title>HvA | WAFS</title>
</head>

<body>
    <header>
        <a href="hva.nl"><img src="img/hva-logo.png" alt="" width="15%" class="hva-logo"></a>
    </header>
    <main>
        <h1>Web Apps from Scratch</h1>
        <form id="wafs" action="#">
            <fieldset class="checkbox-area">
                <legend>From which teachers did you get <b>Web App from Scratch</b>?</legend>

                <label for="joost">Joost Faber
                    <input type="radio" id="joost" name="teacher" value="Joost Faber" required>
                </label>
                <label for="wouter">Wouter van der Heijde
                    <input type="radio" id="wouter" name="teacher" value="Wouter">
                </label>
                <label for="suus">Suus
                    <input type="radio" id="suus" name="teacher" value="Suus">
                </label>
                <label for="robin">Robin Fugte
                    <input type="radio" id="robin" name="teacher" value="Robin Fugte">
                </label>
            </fieldset>

            <fieldset class="course">
                <legend>In what period did you follow this course?</legend>
                <label for="startDate">Start date</label>
                <input type="date" name="startDate" id="startDate"
                    title="The first day the student has taken the courses" required>
                <label for="endDate">End date</label>
                <input type="date" name="endDate" id="endDate" title="The last day the student has taken the courses"
                    required>
            </fieldset>

            <fieldset class="course">
                <legend>Rate the course on a scale from 1 to 10</legend>
                <label for="lessonMarterial" class="rating">Lesson material (how hard was it?)</label>
                <label for="lessonMarterial-1">1
                    <input type="radio" name="lessonMarterialRating" id="lessonMarterial-1">
                </label>
                <label for="lessonMarterial-2">2
                    <input type="radio" name="lessonMarterialRating" id="lessonMarterial-2">
                </label>
                <label for="lessonMarterial-3">3
                    <input type="radio" name="lessonMarterialRating" id="lessonMarterial-3">
                </label>
                <label for="lessonMarterial-4">4
                    <input type="radio" name="lessonMarterialRating" id="lessonMarterial-4">
                </label>
                <label for="lessonMarterial-5">5
                    <input type="radio" name="lessonMarterialRating" id="lessonMarterial-5">
                </label>
                <label for="lessonMarterial-6">6
                    <input type="radio" name="lessonMarterialRating" id="lessonMarterial-6">
                </label>
                <label for="lessonMarterial-7">7
                    <input type="radio" name="lessonMarterialRating" id="lessonMarterial-7">
                </label>
                <label for="lessonMarterial-8">8
                    <input type="radio" name="lessonMarterialRating" id="lessonMarterial-8">
                </label>
                <label for="lessonMarterial-9">9
                    <input type="radio" name="lessonMarterialRating" id="lessonMarterial-9">
                </label>
                <label for="lessonMarterial-10">10
                    <input type="radio" name="lessonMarterialRating" id="lessonMarterial-10">
                </label>


                <label for="explanation">Explanation (how clearly is it explained?)</label>
                <input type="number" id="explanation" name="explanation" placeholder="1-10" min="1" max="10"
                    title="How clearly was the teacher material explained?" required>
                <br>
                <label for="ownInsight">Own insight (How well do you get it?)</label>
                <input type="number" id="ownInsight" name="ownInsight" placeholder="1-10" min="1" max="10"
                    title="How well did you get the teaching material?" required>

            </fieldset>

            <input type="submit" form="wafs" id="submit">
        </form>
    </main>
</body>

</html>